@using HelpingHands_Utility;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpingHands_Web</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelpingHands_Web.styles.css" asp-append-version="true" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <style>
        .nav-link:hover {
            color: #0e4bf1; /* Change the text color to blue when hovering */
        }
    </style>
    @RenderSection("Styles", required: false)
</head>

<body>
    <partial name="_Notification" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark box-shadow mb-3 position-static">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/home/HelpingHands.png" style="width:50px" /> &nbsp;&nbsp;Helping Hands
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 me-auto">

                        @* <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Customer" asp-controller="Home" asp-action="Index">Go to Customer Page</a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="FirstCategory" asp-action="IndexFirstCategory">First Category</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="SecondCategory" asp-action="IndexSecondCategory">Second Category</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="ThirdCategory" asp-action="IndexThirdCategory">Third Category</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Company & Feature
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Company" asp-action="IndexCompany">Company</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Amenity" asp-action="IndexAmenity">Amenity</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Payment" asp-action="IndexPayment">Payment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Service" asp-action="IndexService">Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Enquiry" asp-action="IndexEnquiry">Enquiry</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Review" asp-action="IndexReview">Review</a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Address
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Country" asp-action="IndexCountry">Country</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Country" asp-action="CountryByLazyLoading">CountryByLazyLoading</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Country" asp-action="CountryByPagination">CountryByPagination</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="State" asp-action="IndexState">State</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="City" asp-action="IndexCity">City</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                User Managment
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="ApplicationRole" asp-action="IndexApplicationRole">Role</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="ApplicationUser" asp-action="IndexApplicationUser">User</a>
                            </ul>
                        </li>
                        @*   <ul class="navbar-nav text-end">
                        <!-- Other navigation items go here -->
                        <!-- Move the Logout link to the last position -->
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Customer" asp-controller="Auth" asp-action="Logout">Logout</a>
                        </li>
                        </ul>*@
                        @*

                        @if (httpAcc
                        .HttpContext.Session.GetString(SD.SessionToken) != null &&

                        httpAcc.HttpContext.Session.GetString(SD.SessionToken).ToString().Length > 0)
                        {
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Admin" asp-controller="Auth" asp-action="Logout">Logout</a>
                        </li>
                        }
                        else
                        {
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Admin" asp-controller="Auth" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Admin" asp-controller="Auth" asp-action="Register">Register</a>
                        </li>
                        }*@
                    </ul>
                    <ul class="navbar-nav align-items-end ">
                        @if (httpAcc
                        .HttpContext.Session.GetString(SD.SessionToken) != null &&

                        httpAcc.HttpContext.Session.GetString(SD.SessionToken).ToString().Length > 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light " asp-area="Customer" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </li>
                        }
                
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer text-muted position-fixed bottom-0 bg-black text-center">
        <div class="container text-light">
            Copyright© {@DateTime.Now.Year} - HelpingHands - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
